<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mint.dao.OperationMapper">
  <resultMap id="BaseResultMap" type="com.mint.pojo.Operation">
    <constructor>
      <idArg column="bid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="op_uid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="uid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="btime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="op_type" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="op_object" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.mint.pojo.Operation">
    <constructor>
      <idArg column="bid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="op_uid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="uid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="btime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="op_type" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="op_object" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="note" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    bid, op_uid, uid, btime, op_type, op_object
  </sql>
  <sql id="Blob_Column_List">
    note
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_operation
    where bid = #{bid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_operation
    where bid = #{bid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mint.pojo.Operation">
    insert into tb_operation (bid, op_uid, uid, 
      btime, op_type, op_object, 
      note)
    values (#{bid,jdbcType=VARCHAR}, #{opUid,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR}, 
      #{btime,jdbcType=TIMESTAMP}, #{opType,jdbcType=INTEGER}, #{opObject,jdbcType=INTEGER}, 
      #{note,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mint.pojo.Operation">
    insert into tb_operation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        bid,
      </if>
      <if test="opUid != null">
        op_uid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="btime != null">
        btime,
      </if>
      <if test="opType != null">
        op_type,
      </if>
      <if test="opObject != null">
        op_object,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        #{bid,jdbcType=VARCHAR},
      </if>
      <if test="opUid != null">
        #{opUid,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="btime != null">
        #{btime,jdbcType=TIMESTAMP},
      </if>
      <if test="opType != null">
        #{opType,jdbcType=INTEGER},
      </if>
      <if test="opObject != null">
        #{opObject,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        #{note,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mint.pojo.Operation">
    update tb_operation
    <set>
      <if test="opUid != null">
        op_uid = #{opUid,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="btime != null">
        btime = #{btime,jdbcType=TIMESTAMP},
      </if>
      <if test="opType != null">
        op_type = #{opType,jdbcType=INTEGER},
      </if>
      <if test="opObject != null">
        op_object = #{opObject,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where bid = #{bid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.mint.pojo.Operation">
    update tb_operation
    set op_uid = #{opUid,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=VARCHAR},
      btime = #{btime,jdbcType=TIMESTAMP},
      op_type = #{opType,jdbcType=INTEGER},
      op_object = #{opObject,jdbcType=INTEGER},
      note = #{note,jdbcType=LONGVARCHAR}
    where bid = #{bid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mint.pojo.Operation">
    update tb_operation
    set op_uid = #{opUid,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=VARCHAR},
      btime = #{btime,jdbcType=TIMESTAMP},
      op_type = #{opType,jdbcType=INTEGER},
      op_object = #{opObject,jdbcType=INTEGER}
    where bid = #{bid,jdbcType=VARCHAR}
  </update>
</mapper>