<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mint.dao.PraiseMapper">
  <resultMap id="BaseResultMap" type="com.mint.pojo.Praise">
    <constructor>
      <idArg column="pid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="iid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="itype" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="isid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="puid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ptime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    pid, iid, itype, isid, puid, ptime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_praise
    where pid = #{pid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_praise
    where pid = #{pid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mint.pojo.Praise">
    insert into tb_praise (pid, iid, itype, 
      isid, puid, ptime
      )
    values (#{pid,jdbcType=VARCHAR}, #{iid,jdbcType=VARCHAR}, #{itype,jdbcType=INTEGER}, 
      #{isid,jdbcType=VARCHAR}, #{puid,jdbcType=VARCHAR}, #{ptime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mint.pojo.Praise">
    insert into tb_praise
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        pid,
      </if>
      <if test="iid != null">
        iid,
      </if>
      <if test="itype != null">
        itype,
      </if>
      <if test="isid != null">
        isid,
      </if>
      <if test="puid != null">
        puid,
      </if>
      <if test="ptime != null">
        ptime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="iid != null">
        #{iid,jdbcType=VARCHAR},
      </if>
      <if test="itype != null">
        #{itype,jdbcType=INTEGER},
      </if>
      <if test="isid != null">
        #{isid,jdbcType=VARCHAR},
      </if>
      <if test="puid != null">
        #{puid,jdbcType=VARCHAR},
      </if>
      <if test="ptime != null">
        #{ptime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mint.pojo.Praise">
    update tb_praise
    <set>
      <if test="iid != null">
        iid = #{iid,jdbcType=VARCHAR},
      </if>
      <if test="itype != null">
        itype = #{itype,jdbcType=INTEGER},
      </if>
      <if test="isid != null">
        isid = #{isid,jdbcType=VARCHAR},
      </if>
      <if test="puid != null">
        puid = #{puid,jdbcType=VARCHAR},
      </if>
      <if test="ptime != null">
        ptime = #{ptime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pid = #{pid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mint.pojo.Praise">
    update tb_praise
    set iid = #{iid,jdbcType=VARCHAR},
      itype = #{itype,jdbcType=INTEGER},
      isid = #{isid,jdbcType=VARCHAR},
      puid = #{puid,jdbcType=VARCHAR},
      ptime = #{ptime,jdbcType=TIMESTAMP}
    where pid = #{pid,jdbcType=VARCHAR}
  </update>
  <delete id="deleteByIid" parameterType="java.lang.String">
    delete from tb_praise
    where iid = #{iid,jdbcType=VARCHAR}
  </delete>
</mapper>